{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "printWidth": 120,
  "arrowParens": "always",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/(.*)$",
    "^[.]?./(.*)(?<!(scss|json|img|svg))$",
    "svg$|img$|json$",
    "css$",
    "scss$"
  ],
  "importOrderSeparation": true,
  "importOrderCaseInsensitive": true
}
