.page {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.buttonWrapper {
  position: absolute;
  top: 0;
  left: 0;
  margin: 8px;
  z-index: 1;
  display: flex;
  align-items: center;
}

.dataSourceWrapper {
  background-color: #141414;
  padding: 4px 10px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.dataSourceLabel {
  color: white;
  font-size: 14px;
  margin-right: 6px;
  font-weight: bold;
}

.helpSectionHeader {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.helpSectionText {
  font-size: 12px;
  margin-bottom: 20px;
}

.disclaimerText {
  font-size: 12px;
  font-style: italic;
}

.legendContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.legend {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.legendPlannedIcon {
  width: 20px;
  height: 4px;
  background-color: #315b7d;
  opacity: 0.5;
  display: inline-block;
  margin-right: 5px;
}

.legendTrackIcon {
  width: 20px;
  height: 2px;
  background-color: #ff0000;
  display: inline-block;
  margin-left: 10px;
  margin-right: 5px;
}

.legendLabel {
  color: black;
  font-size: 12px;
  font-weight: 500;
}

.cardContainer {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
