.page {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
}

.buttons Button {
  margin: 16px 0 16px 16px;
}

.title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title Button {
  margin-left: 16px;
}

.tooltip {
  max-width: 500px;
}

.doors {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px;
}

.door {
  width: 125px;
  height: 200px;
  margin: 10px 20px;
  position: relative;
  text-align: center;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media screen and (max-width: 500px) {
  .door {
    width: 75px;
    height: 125px;
    margin: 10px;
  }
}

@media screen and (max-width: 300px) {
  .door {
    width: 60px;
    height: 100px;
    margin: 8px;
  }
}

.door.winner {
  background-image: url(./money.png);
}

.door.loser {
  background-image: url(./donkey.png);
}

.door.selected {
  box-shadow: orange 0 0 11px 5px;
}

.door.open .doorCover {
  display: none;
}

.doorCover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00a1ff;
  color: white;
  font-size: 60px;
}

.action {
  text-align: center;
  margin-bottom: 16px;
}

.action Button {
  margin-right: 16px;
}

.results {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10%;
}

.testOutput {
  display: inline-block;
  margin-right: 8px;
  font-size: 18px;
  font-weight: 500;
}

.testOutput.win {
  color: green;
}

.testOutput.loss {
  color: red;
}
